# Objetivos de este Notebook

* Explicar cómo se pueden cruzar tablas
* Explicar cómo se pueden construir gráficas con los datos


**Índice**

1. [Importación de librerías](#section1)

2. [Realizar cruces](#section2)

3. [Graficar](#section3)

<a id='section1'></a>
# Importación de librerías

In [2]:
from pydataxm import *          # Importa la libreria que fue instalada con pip install pydataxm o tambien desde GitHub
from pydataxm.pydataxm import ReadDB as apiXM    #Se importa la clase que invoca el servicio
import datetime as dt           # Permite trabajar con fechas 
import pandas as pd             # Manipulacion de datos
import numpy as np              # Manipulación de datos
import matplotlib.pyplot as plt # Construcción de gráficas

In [3]:
objetoAPI = pydataxm.ReadDB()     # Construir la clase que contiene los métodos de pydataxm

In [4]:
objetoAPI.get_collections('ListadoRecursos') # Revisar los cruces disponibles para generación real

,MetricId,MetricName,Entity,MaxDays,Type,Url,Filter,MetricUnits,MetricDescription
182,ListadoRecursos,plantas y unidades que tiene asociadas un agen...,Agente,731,ListsEntities,http://servapibi.xm.com.co/list,No aplica,,Listado de recursos y unidades que pertenecen ...
183,ListadoRecursos,Listado Recursos con atributos por Sistema,Sistema,731,ListsEntities,http://servapibi.xm.com.co/list,No aplica,,Listado de recursos con sus atributos y que se...

In [5]:
objetoAPI.get_collections('Gene') #Listado de plantas registradas ante el CND

,MetricId,MetricName,Entity,MaxDays,Type,Url,Filter,MetricUnits,MetricDescription
4,Gene,Generación por Sistema,Sistema,31,HourlyEntities,http://servapibi.xm.com.co/hourly,No aplica,kWh,Generacion neta de cada una de las plantas Nac...
9,Gene,Generación por Recurso,Recurso,31,HourlyEntities,http://servapibi.xm.com.co/hourly,Codigo Submercado Generación,kWh,Generacion neta de cada una de las plantas Nac...

In [6]:
df_generacion = objetoAPI.request_data('Gene',
                                       'Recurso',
                                       dt.date(2023,1,1),
                                       dt.date(2023,1,31))

C:\Users\jonal\AppData\Roaming\Python\Python312\site-packages\pydataxm\pydataxm.py:234: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  data[col] = pd.to_numeric(data[col],errors='ignore')
C:\Users\jonal\AppData\Roaming\Python\Python312\site-packages\pydataxm\pydataxm.py:236: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_datetime without passing `errors` and catch exceptions explicitly instead
  data['Date'] = pd.to_datetime(data['Date'],errors='ignore', format= '%Y-%m-%d')

In [7]:
df_generacion.head() #Ver encabezados

#df_generacion.to_csv('C:/Users/jonal/OneDrive/Documentos/12_Bootcamp_Talento_Tech/Proyecto/Datos_Demanda_tipo_energia2.csv', index=False)

,Id,Values_code,Values_Hour01,Values_Hour02,Values_Hour03,Values_Hour04,Values_Hour05,Values_Hour06,Values_Hour07,Values_Hour08,...,Values_Hour16,Values_Hour17,Values_Hour18,Values_Hour19,Values_Hour20,Values_Hour21,Values_Hour22,Values_Hour23,Values_Hour24,Date
0,Recurso,2QBW,10418.14,10420.35,10422.01,10421.55,10420.11,10412.97,10423.26,10426.22,...,10630.62,10628.08,10623.54,10620.84,10619.67,10620.43,10619.77,10617.33,10614.91,2023-01-31
1,Recurso,2QRL,654.96,655.41,655.50,655.47,655.50,655.14,655.26,655.89,...,656.16,655.56,655.44,655.32,655.29,655.11,655.23,655.17,654.96,2023-01-31
2,Recurso,2QV2,10670.40,10666.80,10663.20,10656.00,10652.40,10648.80,10648.80,10652.40,...,10666.80,10670.40,10674.00,10674.00,10674.00,10670.40,10670.40,10677.60,10670.40,2023-01-31
3,Recurso,2S6Q,98.40,41.40,51.00,56.40,81.00,8.40,NaN,9.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-31
4,Recurso,2S6S,6204.00,6016.80,5995.20,6007.20,6014.40,6019.20,6060.00,3588.00,...,6789.60,7252.80,7293.60,7221.60,7176.00,7166.40,7576.80,7504.80,7041.60,2023-01-31

In [7]:
#df_generacion.iloc[:,2:26]=df_generacion.iloc[:,2:26].apply(pd.to_numeric,errors='coerce') #Convertir a numerico
#df = df_generacion.convert_dtypes()

In [95]:
df_recursos = objetoAPI.request_data(
                                    'ListadoRecursos',
                                    'Sistema',
                                    dt.date(2023,1,1),
                                    dt.date(2024,1,31)) # obtiene los recursos en operación y pruebas

C:\Users\jonal\AppData\Roaming\Python\Python312\site-packages\pydataxm\pydataxm.py:234: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  data[col] = pd.to_numeric(data[col],errors='ignore')
C:\Users\jonal\AppData\Roaming\Python\Python312\site-packages\pydataxm\pydataxm.py:236: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_datetime without passing `errors` and catch exceptions explicitly instead
  data['Date'] = pd.to_datetime(data['Date'],errors='ignore', format= '%Y-%m-%d')

In [102]:

df_recursos.head(5)

df_recursos.to_csv('C:/Users/jonal/OneDrive/Documentos/12_Bootcamp_Talento_Tech/Proyecto/Datos_Demanda_tipo_energia1.csv', index=False)

<a id='section2'></a>
# Realizar cruces

In [50]:
df = pd.merge(df_generacion,df_recursos,left_on=['Values_code'],right_on=['Values_Code'],how='left')


df.to_csv('C:/Users/jonal/OneDrive/Documentos/12_Bootcamp_Talento_Tech/Proyecto/Datos_Demanda_tipo_energia.csv', index=False)
df.head()

,Id_x,Values_code,Values_Hour01,Values_Hour02,Values_Hour03,Values_Hour04,Values_Hour05,Values_Hour06,Values_Hour07,Values_Hour08,...,Values_Code,Values_Name,Values_Type,Values_Disp,Values_RecType,Values_CompanyCode,Values_EnerSource,Values_OperStartdate,Values_State,Date_y
0,Recurso,2QBW,8055.09,8045.04,8028.13,8029.48,8036.42,8052.72,8048.22,8045.68,...,2QBW,EL POPAL,HIDRAULICA,NO DESPACHADO CENTRALMENTE,NORMAL,ISGG,AGUA,2014-03-31,OPERACION,2024-10-19
1,Recurso,2QRL,602.52,602.64,602.43,602.85,603.12,603.30,602.91,603.09,...,2QRL,LA REBUSCA,HIDRAULICA,NO DESPACHADO CENTRALMENTE,GEN. DISTRIBUIDA,HZEG,AGUA,2014-07-24,OPERACION,2024-10-19
2,Recurso,2QV2,2959.20,2962.80,2962.80,2962.80,2959.20,2962.80,2962.80,2966.40,...,2QV2,BAJO TULUA,HIDRAULICA,NO DESPACHADO CENTRALMENTE,NORMAL,EPSG,AGUA,2015-01-30,OPERACION,2024-10-19
3,Recurso,2R22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2R22,LAGUNETA,HIDRAULICA,NO DESPACHADO CENTRALMENTE,NORMAL,ENDG,AGUA,2014-12-17,OPERACION,2024-10-19
4,Recurso,2S6Q,NaN,NaN,NaN,NaN,NaN,33.60,NaN,NaN,...,2S6Q,AUTOG YAGUARITO,TERMICA,NO DESPACHADO CENTRALMENTE,AUTOGENERADOR,EMSG,BIOGAS,2016-03-22,OPERACION,2024-10-19

In [60]:
df_solar = df.query('Values_Type=="SOLAR"')

,Id_x,Values_code,Values_Hour01,Values_Hour02,Values_Hour03,Values_Hour04,Values_Hour05,Values_Hour06,Values_Hour07,Values_Hour08,...,Values_Code,Values_Name,Values_Type,Values_Disp,Values_RecType,Values_CompanyCode,Values_EnerSource,Values_OperStartdate,Values_State,Date_y
21,Recurso,2TYI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2TYI,AUTOG CELSIA SOLAR YUMBO,SOLAR,NO DESPACHADO CENTRALMENTE,AUTOGENERADOR,EPSG,RAD SOLAR,2017-09-03,OPERACION,2024-10-19
36,Recurso,2VJS,NaN,NaN,NaN,NaN,NaN,NaN,104.28,1566.30,...,2VJS,CELSIA SOLAR BOLIVAR,SOLAR,NO DESPACHADO CENTRALMENTE,NORMAL,EPSG,RAD SOLAR,2019-02-03,OPERACION,2024-10-19
44,Recurso,2ZHY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,262.27,...,2ZHY,CELSIA SOLAR ESPINAL,SOLAR,NO DESPACHADO CENTRALMENTE,NORMAL,EPSG,RAD SOLAR,2020-05-31,OPERACION,2024-10-19
45,Recurso,2ZP9,NaN,NaN,NaN,NaN,NaN,NaN,2047.32,12319.71,...,2ZP9,TRINA-VATIA BSLI,SOLAR,NO DESPACHADO CENTRALMENTE,NORMAL,ISGG,RAD SOLAR,2020-09-10,OPERACION,2024-10-19
46,Recurso,3A44,NaN,NaN,NaN,NaN,NaN,NaN,15.60,583.80,...,3A44,PLANTA SOLAR BAYUNCA I,SOLAR,NO DESPACHADO CENTRALMENTE,NORMAL,EGRG,RAD SOLAR,2020-09-30,OPERACION,2024-10-19

In [56]:
df_solar.Values_Name.unique() #Recursos considerados

array(['AUTOG CELSIA SOLAR YUMBO', 'CELSIA SOLAR BOLIVAR',
       'CELSIA SOLAR ESPINAL', 'TRINA-VATIA BSLI',
       'PLANTA SOLAR BAYUNCA I', 'CELSIA SOLAR CARMELO',
       'GRANJA SOLAR BELMONTE', 'LA SIERPE', 'GY SOLAR AURORA',
       'LATAM SOLAR LA LOMA', 'HELIOS I', 'AUTOG CELSIA SOLAR LEVAPAN',
       'GR PARQUE SOLAR TUCANES', 'BOSQUES SOLARES DE LOS LLANOS 5',
       'BOSQUES SOLARES DE LOS LLANOS 4', 'SINCE',
       'AUTOG CELSIA SOLAR HARINAS', 'LOS CABALLEROS', 'LA MEDINA',
       'CERRITOS', 'AUTOG CI JEANS', 'AUTOG PINTUCO',
       'AUTOG CELSIA SOLAR PALMIRA 3', 'GRANJA SOLAR LANCEROS',
       'AGPE FERCH2', 'GRANJA SOLAR EL SALADO', 'TERMOTASAJERO DOS SOLAR',
       'MONTELIBANO', 'GRANJA SOLAR SAN FELIPE', 'AUTOG BUGA I GRASAS',
       'GRANJA SOLAR FLANDES', 'CELSIA SOLAR DULIMA', 'CELSIA SOLAR YUMA',
       'TIERRA LINDA', 'LA TOLUA',
       'AUTOG CELSIA SOLAR PALMIRA 3 ZONA FRANCA', 'FUNDACION',
       'CELSIA SOLAR LA VICTORIA II', 'CELSIA SOLAR LA VICTORIA I',
       'COMUNIDAD EL SALVADOR I', 'COMUNIDAD EL SALVADOR II',
       'LOS GIRASOLES', 'AGPE EL ENCANTO', 'PETALO DEL MAGDALENA',
       'URUACO', 'CARACOLI I', 'SUNNORTE', 'PORTON DEL SOL',
       'PARQUE SOLAR ARENAL', 'PARQUE SOLAR LA UNION',
       'PARQUE SOLAR HONDA I', 'SOLAR PLANETA RICA',
       'PETALO DE CORDOBA II', 'CAIMAN CIENAGUERO',
       'PARQUE SOLAR DINAMARCA', 'PARQUE SOLAR VERSALLES',
       'PARQUE SOLAR LA MENA', 'LA NENERA', 'EL PASO', 'GUAYEPO',
       'LA MATA', 'TRINA-VATIA BSLII', 'TRINA-VATIA BSLIII',
       'AUTOG BUGA I SOLLA', 'GUAMO', 'NUMBANA', 'CELSIA SOLAR LA PAILA'],
      dtype=object)

In [63]:
df_total = df_solar.iloc[:,1:27].melt(id_vars=['Date_x','Values_code']).fillna(0) #sustituir datos faltantes por cero

df_total.head(30)

       Date_x Values_code       variable  value
0  2024-01-26        2TYI  Values_Hour01    0.0
1  2024-01-26        2VJS  Values_Hour01    0.0
2  2024-01-26        2ZHY  Values_Hour01    0.0
3  2024-01-26        2ZP9  Values_Hour01    0.0
4  2024-01-26        3A44  Values_Hour01    0.0
5  2024-01-26        3ACC  Values_Hour01    0.0
6  2024-01-26        3B4L  Values_Hour01    0.0
7  2024-01-26        3C3Z  Values_Hour01    0.0
8  2024-01-26        3CSH  Values_Hour01    0.0
9  2024-01-26        3DDT  Values_Hour01    0.0
10 2024-01-26        3DSO  Values_Hour01    0.0
11 2024-01-26        3E7C  Values_Hour01    0.0
12 2024-01-26        3EBN  Values_Hour01    0.0
13 2024-01-26        3EDL  Values_Hour01    0.0
14 2024-01-26        3EFY  Values_Hour01    0.0
15 2024-01-26        3ENE  Values_Hour01    0.0
16 2024-01-26        3EP6  Values_Hour01    0.0
17 2024-01-26        3EV1  Values_Hour01    0.0
18 2024-01-26        3EV3  Values_Hour01    0.0
19 2024-01-26        3EXB  Values_Hour01    0.0
20 2024-01-26        3F5L  Values_Hour01    0.0
21 2024-01-26        3F5N  Values_Hour01    0.0
22 2024-01-26        3FCD  Values_Hour01    0.0
23 2024-01-26        3FCF  Values_Hour01    0.0
24 2024-01-26        3GFQ  Values_Hour01    0.0
25 2024-01-26        3GI6  Values_Hour01    0.0
26 2024-01-26        3GJQ  Values_Hour01    0.0
27 2024-01-26        3GPZ  Values_Hour01    0.0
28 2024-01-26        3GRD  Values_Hour01    0.0
29 2024-01-26        3GSF  Values_Hour01    0.0

In [68]:
#data = df_total.groupby('variable').sum()                             #Sumar Energia
data = df_total.select_dtypes(exclude=['datetime64']).groupby('variable').sum()
data.index = [x.replace('Values_Hour','H') for x in data.index]       #Reajustar textos del indice

In [77]:
data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24 entries, H01 to H24
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Values_code  24 non-null     float64
 1   value        24 non-null     float64
dtypes: float64(2)
memory usage: 576.0+ bytes

<a id='section3'></a>
# Graficar

In [85]:
data = data.apply(pd.to_numeric, errors='coerce').fillna(0)

data = data.divide(1000)

fig, ax = plt.subplots()
ax.plot(data,'r',linewidth=0.7,label='Total')
ax.fill_between(data.index, data, alpha=0.2)
ax.set_ylabel('Energía promedio [MWh]')
ax.set_xlabel('Hora')
ax.legend()
plt.xticks(rotation = 45);
plt.title('Generacion Solar (marzo 2021)');
plt.show()

KeyError: 'value_code'